DATABASE__DEBUG=True
DATABASE__HOST=localhost
DATABASE__PORT=7400
DATABASE__DATABASE=dev_blackbox
DATABASE__USER=blackbox
DATABASE__PASSWORD=passw0rd

ENCRYPTION__KEY=your-base64-key-here
ENCRYPTION__PEPPER=your-pepper-secret-here
